<%- include("./head.ejs") %>
<section class="section-menu">
    <div class="sec2-title"> Menu Pizze </div>
    <div class="menu-pizze">
        <div></div>
        <div class="col-1">
            <% for( const pizza of pizzas ) { %>
                <div class="p-row"> <span class="p-name"><%= pizza.name %>:</span>  <span><%= pizza.ingr %> </span>  <span><%= pizza.price %></span> </div>
                <% } %> 
            </div>
        </div>
    </div>
 </section>



<%- include("./footer.ejs") %>